<div class="container-fluid">
    <div class="row search mx-auto">
        <div class="col-lg-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search p-2"></i></span>
                </div>
                <input type="text" class="form-control search" [(ngModel)]="search" placeholder="Search....">
            </div>
        </div>
        <div class="col-lg-4">
            <select class="custom-select" id="inlineFormCustomSelect" [(ngModel)]="category">
                <option value="All">All</option>
                <option value="continental">Continental</option>
                <option value="chinese">Chinese</option>
                <option value="italian">Italian</option>
                <option value="mexican">Mexican</option>
                <option value="drinks">Drinks</option>
              </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 mx-auto mt-3" *ngFor="let product of products | customPipe : search :category">
            <app-shopping-product [product]="product"   ></app-shopping-product>
        </div>
    </div>
</div>