<div class="container-fluid">
    <div class="row text-center">
    <h3>Order Placed</h3>
    <h5>Few More Minutes Of Wait For That Delecious Savoury</h5>
    </div>
    <div class="row summary-main mt-5">
        <div class="col-lg-7">
          <img src="assets/img/rider.jpg" alt="order">
        </div>
        <div class="col-lg-5">
            <h5 class="text-center">Summary</h5>
            <ul class="list-group mb-3" >
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let cart of carts;let i=index">
                  <div>
                    <h6 class="my-0">{{cart.product.name}} x {{cart.counter}}</h6>
                    <small class="text-muted">{{cart.product.category}}</small>
                  </div>
                  <span class="text-muted">Rs{{cart.product.amount}}  </span>
                </li>
                
                <li class="list-group-item d-flex justify-content-between bg-light">
                  <span class="text-success">-Rs{{offer}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (Rs)</span>
                  <strong>Rs{{amount}}</strong>
                </li>
              </ul>
        </div>
    </div>
</div>
