/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,600;1,700&display=swap');

*{
    font-family: Barlow+Condense,sans-serif !important;
    font-weight: 500 !important;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-size: 200%;
    font-weight: 600 !important;
}

h4,h5,h6{
  
    font-weight: 700 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
