.row{
    background-image: url('../../../../assets/img/admin-background.jpg');
    background-repeat: no-repeat;
    height: 89.4vh;
    background-size: cover;
    background-position: top;
    
}
h2{
    letter-spacing: 25px;
}
